.App {
  text-align: center;
  background-color: #61dafb;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #7e95c4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: rgb(112, 120, 168);
}

.App-link {
  color: #61dafb;
}
.board{
  margin-top: 2.5rem;
  width: 50%;
  height: 90vh;
  background-color: rgb(231, 207, 207);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 0.5rem;
}

.input{
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  height: 40px;
  background-color: rgb(230, 138, 0);
  margin-bottom: 1.5rem ;
}

.list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  background-color: rgb(187, 187, 212);
  padding: 10px;
  margin-top: 8px;
}

.inputArea{
  width: 70%;
  border-radius: 5px;
  border: none;
}
.button{
  width: 8rem;
  border-radius: 5rem;
  border: none;
}
.list_text{
  color: gray;
}
.action{
  display: flex;
  align-items: center;
}

.button__edit{
  width: 5rem;
  margin: 5px;
}
.button__delete{
  width: 5rem;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.center{
  background-color: bisque;
}
